body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    text-align: center;
}

header h1 {
    color: #0073e6;
}

form {
    margin-top: 20px;
}

input, button {
    padding: 10px;
    margin: 5px;
}


